html {
  font-style: Helvetica;
  text-align: center;
}

.menu {
  background-image: url("../images/the-flatiron-building.png") ;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.menu h2 {
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.Designed {
  background-image: url("../images/the-flatiron-building.png");
}

footer {
  text-align: left;
  color: white;
  background-color: dimgray;
  font-size: 11px;
}

a {
  color: white;
}
